.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

/* .footer{
  background-color: #292929;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  color: #f5f5f5;
  border-top: thin solid #0FFFEF;
}*/

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #0FFFEF ;
  color:#000000;
}

.content-theme {
  background-color: #0f0f0f;
  color: #ffffff;
}

.navbar-dark {
  background-color: #000000;
}

.nav-theme {
  color: #0FFFEF;
}

.nav-theme:hover {
  color: #0ba49a;
}

html, body, #root {
  background-color: #000000;
  scroll-behavior: smooth;
  height: 100%;
}

.bcrumb-dark {
  background-color: #000000;
}

::selection {
  background: #0FFFEF; /* WebKit/Blink Browsers */
  color: black;
}
::-moz-selection {
  background: #0FFFEF; /* Gecko Browsers */
  color: black;
}
